In [120]:
from sklearn.metrics import log_loss
import numpy as np

# sklearn.metrics.log_loss([0], [0.24])
(115 - 56) ** 2

3481

In [117]:
# Question6
import numpy as np
from sklearn.metrics import log_loss

churn = np.array([1, 0, 0, 1, 0])
predicted_probability = np.array([0.77, 0.24, 0.88, 0.63, 0.41])
result = []

def logloss(predictions, targets):
    N = predictions.shape[0]
    for i in range(0, N):
        result.append(- (targets[i] * np.log(predictions[i]) + (1 - targets[i]) * np.log(1 - predictions[i])))
        
    return result

logloss(predicted_probability, churn)

[0.2613647641344075,
 0.2744368457017603,
 2.120263536200091,
 0.4620354595965587,
 0.5276327420823718]

In [129]:
# Question7
from sklearn.metrics import mean_squared_error

actual = [228, 115, 154, 150, 174]
predicted = [109, 56, 122, 86, 210]

def mse(actual, predicted):
    result = []
    
    for i in range(0, len(actual)):
        result.append((actual[i] - predicted[i])**2)
        
    return np.mean(result)
       
print(mse(actual, predicted))

print(mean_squared_error(actual, predicted))

4811.6
4811.6

In [130]:
# Question8
import sys
import os
import pandas as pd

datadir = '/Users/yachiru/Documents/nyu/class/DSforBusinessTech/assignment/assignment2'
filename = 'linear_regression_predictions.csv'

dat = pd.read_csv(f'{datadir}/{filename}')

print("mse of pred_model1:")
print(mse(dat["actual"], dat["pred_model1"]))
print(mean_squared_error(dat["actual"], dat["pred_model1"]))

print("mse of pred_model2:")
print(mse(dat["actual"], dat["pred_model2"]))
print(mean_squared_error(dat["actual"], dat["pred_model2"]))

mse of pred_model1:
38240.23440999998
38240.23440999998
mse of pred_model2:
202376.18464771422
202376.18464771422

In [132]:
# Question15
datadir = '/Users/yachiru/Documents/nyu/class/DSforBusinessTech/assignment/assignment2'
filename = 'nearest_neighbors_example.csv'

df = pd.read_csv(f'{datadir}/{filename}')
df.loc[0, 'Distance_From_David'] = 0

for i in range(1, len(df)):
    distance = 0.0

    for j in range(1, len(df.columns)- 1):
        distance = distance + (df.iloc[i, j] - df.iloc[0, j]) ** 2
    
    distance = distance ** 0.5
    df.loc[i, 'Distance_From_David'] = distance
    
display(df)

   customer  age  income  num_cards  Distance_From_David
0     David   37      50          2             0.000000
1   Melissa   54      78          3            32.771939
2      Atul   61     120          1            74.006756
3  Mizutori   41     210          4           160.062488
4     Amina   32     135          2            85.146932
5       Liu   48      95          1            46.335731
6      Vlad   29      85          3            35.916570

In [111]:
4000 / 4500

0.8888888888888888